@model IEnumerable<MvcClientWeb.Models.MvcEmployee>

@{
    ViewBag.Title = "List";
}

<h2>List of Employees</h2>

<p>
    <button type="button" class="btn btn-outline-success">
        @Html.ActionLink("Create New Employee", "Create")
        </button>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.salary)
            </th>
            <th></th>
        </tr>
</thead>
    <tbody>
        @foreach (MvcClientWeb.Models.MvcEmployee item in ViewBag.MiListado)
        {
            <tr>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.salary)
                </td>
                <td scope="row">
                    <button type="button" class="btn btn-outline-primary">
                        @Html.ActionLink("Edit", "Update", new { name = item.name })
                    </button> |

                    <button type="button" class="btn btn-outline-danger">
                        @Html.ActionLink("Delete", "Delete", new { name = item.name })
                    </button>
                </td>
            </tr>
        }
</tbody>
</table>
